

body{
  background: linear-gradient(0deg, #060C31 14.51%, #203C7E 66.21%, #4364AD 100%);
}

body {
  width:100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Neucha';
}
